/* قم بعمل الشكل الموجود في الصورة كما هو بنفس الألوان
يجب عدم تغيير ال Display الخاص بالعنصر ويظل نوعه Block كما هو
يجب أن لا يزيد عرض العنصر عن 400px
في آخر عنصر سوف تجد الكلمات خرجت من الصندوق وهي الآن ظاهرة, المطلوب إخفاء أي شيء يخرج من الصندوق */
div
{
    width: 400px;
    background-color: red;
    margin-bottom: 10px;
    
}
.one ,.two ,.three
{
    width: fit-content;
}
.four
{
    height: 200px;
    overflow: auto;
}